mixin createNavigation()
  li
    a(href="/") Entrance
  li.active
    a(href="/lounge/") Lounge
  li
    a(href="/studio/") Studio
  li
    a(href="/editroom/") Edit Room
  li
    a(href="/gear/") Gear